html, body {
    margin: 0;
    padding: 0;
}

/* head style */
head {
    background-color: #3595fc;
}

/* header style */
header {
    text-align: center; 
    padding: 20px; /* Adjust padding as necessary */
    font-size: larger;
    background-image: linear-gradient(180deg, #3595fc, #ffffff);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

/* navigation bar button style */
nav a {
    color: #262095;
    text-decoration: none;
    font-size: larger;   
    padding: 20px; /* Fixed padding from 200px to 20px */
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
}

/*body style*/
body {
    color:black;
    text-align: left;
    font-size: medium;
    font-family: Helvetica, sans-serif;
    margin: 1px;
    img {
        width: 500px;
    }
}

/*indenting*/
.indented{
    text-indent: 50px;
}

/*footer style*/
footer {
    text-align: Left; 
    padding: 20px;
    font-size: smaller;
    background-image: linear-gradient(360deg, #f38033, #fff);
    font-family:Helvetica, sans-serif;
    font-size: medium;
    img{
        width: 200px;
        }
}