/*section style for logo*/
section {
    padding-top: 5px;
    padding-right: 1000px;
    padding-bottom: 60px;
    padding-left: 5px;
}
/*header style*/
header {
    text-align: center; 
    padding: 1px;
    font-size: larger;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
}

/*navigation bar button style*/
nav a {
    color: #251f93;
    text-decoration: none;
    font-size: larger;   
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    ul{ list-style-type: none;}  
}

/*body style*/
body {
    color:black;
    text-align: left;
    font-size: medium;
    font-family: Helvetica, sans-serif;
    float: none;
    flex-wrap: none;
}

/*italicized texts*/
.emphasized { font-style: italic; }

/*footer style*/
footer {
    text-align: Left; 
    padding: 1px;
    font-size: smaller;
    font-family:Helvetica, sans-serif;
    img{
        width: 200px;
    }
}

/* Flex container */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Card container */
.card {
    width: 200px;
    height: 450px;
    perspective: 1000px; /* Enables 3D effect */
    margin: 20px;
    padding: 10px;
    
}

/* Card "<p> text" */
.card p {
    font-size: 14px;
}

/* Card "<h1> text" */
.card h1 {
    font-size: 22px; 
    font-weight: bold; 
    margin: 10px; 
}

/* Inner card - allows flipping */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

/* Front & Back of the card */
.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: white;
    box-shadow: 0 5px 9px #dadada;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

/* Front card*/
.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 0px; 

    img {
        width: 200px;
        height: auto; 
        max-width: 100%; 
        display: block; 
    }
}


/* Back */
.card-back {
    transform: rotateY(180deg);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Flip effect when clicked */
.card.flipped .card-inner {
    transform:  rotateY(180deg);
  }

/*background color*/
html {
    background: rgb(53,149,252);
    background: linear-gradient(180deg, rgba(53,149,252,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(243,128,51,1) 100%);
}
